<div class="modal hide" id="confirm-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>确认参加婚礼信息</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>姓名:</dt>
      <dd id="name"></dd>
      <dt>邮箱:</dt>
      <dd id="email"></dd>
      <dt>电话:</dt>
      <dd id="phone"></dd>
      <dt>人数:</dt>
      <dd id="guests-count"></dd>
      <dt>说明:</dt>
      <dd id="guests-description"></dd>
    </dl>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">修改</a>
    <a href="#" class="btn btn-primary" id="rsvp-confirm-btn">确认</a>
  </div>
</div>
