<div class="modal hide" id="failure-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>错误信息</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-error">对不起，提交信息遇到了错误。</p>
    <p>
      <i class="icon-info-sign"></i>
      您可以稍后重试
    </p>
    <p>
      <i class="icon-info-sign"></i>
      您也可以通过电话、短信或电子邮件发送信息给我们
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">确认</a>
  </div>
</div>

