<div class='navigation'>
  <div class='container'>
    <div class='menu'>
      <a href="#home-anchor" class="pull-left" id="logo">
        刘风云
        <img src="/images/two-hearts.png">
        王银爱
      </a>
      {% include music.html %}
      <ul class="pull-right">
        <li>
          <a href='#story-anchor'>他们的故事</a>
        </li>
        <li>
          <a href='#photos-anchor'>照片</a>
        </li>
        <li>
          <a href='#wedding-anchor'>婚礼</a>
        </li>
        <li>
          <a href='#map-anchor'>地图</a>
        </li>
        <li>
          <a href='#comments-anchor'>祝福</a>
        </li>
      </ul>
    </div>
  </div>
</div>
