<div class="modal hide" id="success-dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>发送消息成功</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-success">谢谢，我们已经收到您提交的信息。</p>
    <p>
      <i class="icon-info-sign"></i>
      您可以重新提交，来修改信息，我们将以最后提交的信息为准
    </p>
    <p>
      <i class="icon-info-sign"></i>
      婚礼前我们将会与您再次确认
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">确认</a>
  </div>
</div>

