<span id="wedding-anchor" class="anchor">&nbsp;</span>
<div class="container section" id="wedding">
  <div class="row-fluid">
    <div class="span4 offset1">
      <h2>婚礼</h2>
      <p>
        <i class="icon-time"></i>
        2012年10月20日(星期六) 中午11:30
      </p>
      <p>
        <i class="icon-map-marker"></i>
        南京市玄武区孝陵卫街37号金港小镇
      </p>
      <p>
        <i class="icon-retweet"></i>
        地铁2号线孝陵卫站3号出站口向东150米
        <br/>
      </p>
      <p>
        <i class="icon-retweet"></i>
        乘坐游2在大栅栏站下
      </p>
      <p>
        <i class="icon-plane"></i>
        我们将与非南京市的宾客联系，安排食宿
      </p>
      <p>
        <i class="icon-envelope"></i>
        liufengyunchina@gmail.com
      </p>
      <p>
        <i class="icon-signal"></i>
        13814171931(刘) 13951665846(王)
      </p>
      <br/>
      <h4>欢迎来参加我们的婚礼！</h4>
      {% include rsvp.html %}
    </div>
    <div class="span6">
      <img src="/images/wedding.jpg" />
    </div>
  </div>
  </div>
</div>
